#Flagged .gitignore file (script on package.json)
# Ignore Folder:
.github/
.vscode/
docs/
# Ignore Specific Files
.gitignore
.prettierignore
.prettierrc
# Ignore File Formats with exception of TypeScript & React
*.js
*.json
*.md 
!*.ts
!*.tsx

